@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
a,
button,
[role="button"],
.group,
* {
    cursor: none !important;
}

@keyframes float-tedx {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-18px);
    }
    100% {
        transform: translateY(0);
    }
}
.floating-tedx {
    animation: float-tedx 2.8s ease-in-out infinite;
}
